html {
	background-color: #3C3940;
}

body {
	background-color: #3C3940;
	/*background-image: url('../assets/sayagata-400px/sayagata-400px/sayagata-400px.png');*/
	padding: 0px, 0px, 0px, 10px;
}

.container {
	width: 70%;
	/*Colors: primary color 0*/
	/*background-color: #3C3940;*/
}

.jumbotron {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3D60A6;
	text-align: center;
	font-size: 34px;
	height: 240px;
	background-image: url('../assets/sayagata-400px/sayagata-400px/sayagata-400px.png');
}

.linkbar {
    height: 40px;
    background-color: #3C3970;
}

.form{
	width: 400px;
	height: 230px;
	background: #edeff1;
	margin: 0px auto;
	padding-top: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.button {
    display: block;
    background: #3D60A6;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #4876D1;
}

input[type="text"]:focus{
	border: 2px solid #3D60A6;
}

input[type="submit"]{
    display: block;
    /*background: #1abc9d;*/
    background: #3D60A6;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

input[type="text"]{
	display: block;
	width: 309px;
	height: 35px;
	margin: 15px auto;
	background: #fff;
	border: 0px;
	padding: 5px;
	font-size: 16px;
	border: 2px solid #fff;
	transition: all 0.3s ease;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="text"]:focus{
	border: 2px solid #3D60A6;
}

input[type="submit"]:hover{
	background: #4876D1;
}

a{
	text-align: center;
	font-family: Arial;
	color: gray;
	display: block;
	margin: 15px auto;
	text-decoration: none;
	transition: all 0.3s ease;
	font-size: 12px;
}

a:hover{
	color: #1abc9d;
}

.tab-active {

}

.tab {

}


::-webkit-input-placeholder {
	color: gray;
}

:-moz-placeholder { /* Firefox 18- */
	color: gray;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: gray;
}

:-ms-input-placeholder {
	color: gray;
}
