html {
	
}

body {
	/*background-image: url('../assets/sayagata-400px/sayagata-400px/sayagata-400px.png');*/
	padding: 0px, 0px, 0px, 10px;
}

.wrapper { width:100%; margin:0px auto; background-color: #3C3940; }

.header { }

.container {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5%;
	background-color:white;
	height:auto;
	/*Colors: primary color 0*/
	/*background-color: #3C3940;*/
}

.jumbotron {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3D60A6;
	text-align: center;
	font-size: 34px;
	height: 240px;
	background-image: url('../images/sayagata-400px.png');
}


.menubar { padding-top:20px; padding-bottom:20px; width:100%; background-color:#CCCCCC; height:40px; }

.menubar form,
.menubar for div {
	display:inline-block;
}
.menubar button{
	display:inline;
	vertical-align:middle;
}

.linksbar {
	text-align:center;
}

.listform {
    width:80%; 
    margin:0 auto;
    text-align:center; }

.listbox { margin:0 auto; width:60%;
	height: 30px;
	background: #fff;
	padding: 5px;
	font-size: 16px;
	border: 2px solid #3C3940;
	transition: all 0.3s ease;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.listSubmit { background: #3D60A6;
    width: 100px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin-left:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.loginbar { float:right; margin-right: 15%; }

label.loginFormat { color:#3D60A6; padding-left:10px; padding-right:10px; font-size:16pt}

.loginFields {
	height:26px;
	font-size:14pt;
	width:150px;
	color:#3D60A6;
}


.loginButton { background: #3D60A6;
    width: 100px;
    padding: 4px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin-left:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}
}
.loginButton:hover {
    background: #4876D1;
}


.newAccountButton { background: #3D60A6;
    width: 140px;
    padding: 4px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin-left:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}
}
.newAccountButton:hover {
    background: #4876D1;
}


.homepageButton { background: #3D60A6;
    width: 180px;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin-left:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.submitButton { background: #3D60A6;
    width: 150px;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin-left:20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.submitButton:hover {
    background: #4876D1;
}




.infobox { margin-top:60px; margin-left:auto; margin-right:auto; width:60%; font-size:14pt; border:1pt black solid; background-color:#CCCCCC; }

.form{
	width: 400px;
	height: 230px;
	background: #edeff1;
	padding-top: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.button {
    display: block;
    background: #3D60A6;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #4876D1;
}

table.center {
	width:60%;
    margin-left:auto; 
    margin-right:auto;	
    border: 4px solid #3C3940;
    border-collapse:collapse;
  }

table.center tr{
	font-size:18pt;
	border-bottom: 2px solid #3C3940;
}


table.center tr:nth-child(even) {
    border-bottom: 1px solid #000;
    background-color:#CCCCCC;
}

table.register {
	width:480px;
	background-color:#CCCCCC;
    margin-left:auto; 
    margin-right:auto;	
    border: 2px solid #3C3940;
    column-width:200px;

}

table.register td {
    column-width:250px;
}

table.PlotData {
	width:60%;
	background-color:#CCCCCC;
    margin-left:auto; 
    margin-right:auto;	
    border: 2px solid #3C3940;
    padding:2%;

}

table.PlotData {
    column-width:250px;
}


#allignRight { text-align:right; padding:5px; font-size:15pt; }


.disclaimerBox { margin-top:20px; margin-bottom:20px; margin-left:auto; margin-right:auto; width:50%; font-size:12pt }

.newuserLabel {
	text-align:right;
}

#menu { height: 30px; margin-bottom: 0px; }
ul#menu {
    padding: 0px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color:#3D60A6;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;


}

ul#menu li a:hover {
    background-color: white;
    color:#6665FE;
}



input[type=text]:focus{
	border: 2px solid #3D60A6;
}

input[type=submit]{
    display: block;
    /*background: #1abc9d;*/
    background: #3D60A6;
    width: 814px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

input[type=text]{
}

input[type=text]:focus{
	border: 2px solid #3D60A6;
}


input[type=password]:focus{
	border: 2px solid #3D60A6;
}



input[type=submit]:hover{
	background: #4876D1;
}

a:hover{
	color: #1abc9d;
}

.tab-active {

}

.tab {

}


::-webkit-input-placeholder {
	color: gray;
}

:-moz-placeholder { /* Firefox 18- */
	color: gray;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: gray;
}

:-ms-input-placeholder {
	color: gray;
}
