<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" media="screen" href = "/static/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href = "/static/js/bootstrap.js">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title>
  UPLOAD
  </title>
</head>


  <body>

    <div class="container-fluid">
      <h1> File Contents </h1>

    <table class="table">
      {% for row in rows %}
      <tr>
        {% for element in row %}
        <td>
          <h5> {{ element }} </h5>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="container-fluid">
    <h1> STATISTICS </h1>
    <table class="table">
      <tr>
        <td>
          <strong>ROW NUMBER</strong>
        </td>
        <td>
          <strong>AVERAGES</strong>
        </td>
        <td>
          <strong>STANDARD DEVIATIONS</strong>
        </td>
        <td>
          <strong>STANDARD ERRORS</strong>
        </td>
      </tr>
      {% for info in data %}
      <tr>
        {% for element in info %}
        <td>
         {{ element }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

  </body>
</html>
