<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" media="screen" href = "/static/js/bootstrap.js">
		<link rel="stylesheet" media="screen" href="/static/css/home-style.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class='jumbotron'>
			    <h2>Vizit - Kinda arbitrary data visualizations!</h2>
			    <a id="viz_button" href="plot_data" class="button" >Get Started Vizualizing!</a>
			  	</div>
			  	<div class="menubar">
					{{ menubar }}
				</div>
				
			  </div>
			  <div class="content">
			  
				  <div class='container' style="margin:auto">
				  	<h1 style="text-align:center">Results from File</h1>
				  	<div class="container-fluid">
				  		<table class="CSVtable">
					      {% for row in rows %}
					      <tr>
					        {% for element in row %}
					        <td>
					          <h5> {{ element }} </h5>
					        </td>
					        {% endfor %}
					      </tr>
					      {% endfor %}
					    </table>
					</div>
					<div class="container-fluid">
					    <h1 style="text-align:center"> STATISTICS </h1>
					    <table class="CSVtable">
					      <tr>
					        <td>
					          <strong>ROW NUMBER</strong>
					        </td>
					        <td>
					          <strong>AVERAGES</strong>
					        </td>
					        <td>
					          <strong>STANDARD DEVIATIONS</strong>
					        </td>
					        <td>
					          <strong>STANDARD ERRORS</strong>
					        </td>
					      </tr>
					      {% for info in data %}
					      <tr>
					        {% for element in info %}
					        <td>
					         {{ element }}
					        </td>
					        {% endfor %}
					      </tr>
					      {% endfor %}
					    </table>
					  </div>			
				  </div>
			  </div>
			  <div style="padding-bottom:40px" class='footer'>
			  	<p style="text-align:center; color:white">Copyright 2016 - CoolGuys340</p>
			  </div>
		</div>
	</body>
</html>
