<!DOCTYPE html>
<html lang="en">

	<head>
	  <link rel="stylesheet" media="screen" href="static/css/home-style.css">
	  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class='jumbotron'>
			    <h2>Vizit - Kinda arbitrary data visualizations!</h2>
			    <a id="viz_button" href="plot_data" class="button" >Get Started Vizualizing!</a>
			    <!-- <p> Or you can login or register below.</p> -->
			  	</div>
			  	<div class="menubar">
					{{ menubar }}
				</div>
			  </div>
			<div class="content">
			<div class='container' style="margin:auto">
				<h1 style="text-align:center">User History</h1>
				<div class="infobox" style="margin-top:30px; margin-bottom:30px"><p style="padding-left:30px; padding-right:30px">
					Here, you can view your past history of statistical queries.&nbsp;
					Click on the date link to the left to view the data which
					was queried.</p></div>

  				<table class="center" style="width: 70%">{{ tableList }}</table>

  			</div>
			</div>
			  <div style="padding-bottom:40px" class='footer'>
			  	<p style="text-align:center; color:white">Copyright 2016 - CoolGuys340</p>
			  </div>
		</div>
	</body>
</html>
