<!DOCTYPE html>
<html lang="en">

	<head>
	  <link rel="stylesheet" media="screen" href="static/css/home-style.css">
	  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class='jumbotron'>
			    <h2>Vizit - Kinda arbitrary data visualizations!</h2>
			    <a id="viz_button" href="plot_data" class="button" >Get Started Vizualizing!</a>
			    <p> Or you can login or register below.</p>
			  	</div>
			  	<div class="linksbar">
					<ul id="menu">
					<li><a href="/">Homepage</a><link>
					<li><a href="/plot_data">Plots/Graphs</a><link>
					<li><a href="/history">History</a><link>
					<li><a href="/logout">Log Out</a><link>
				</ul>
				</div>
				
			  </div>
			  <div class="content">
			  
				  <div class='container' style="margin:auto">
				  	<h2 style="text-align: center; font-size:26pt">Please enter a list of 
					numerical values:</h2>
					    <form class="listform" action = "/stats/" role="search" method="POST">
					      <div><span>
					        <input type="text" class="listbox" placeholder="Comma separated list of values.  Ex) 1,2,3,4,5" name="inputtxt"></span>
					        
					      <span>
					        <button type="submit" class="listSubmit">Submit</button></span>
					      </div>
					    </form>
					    <div class="infobox"><p style="padding-left:30px; padding-right:30px">Welcome to the Vizit statistical web site.  The purpose of this site is to provide users a quick reference to statistical data calculated 
					    from a set of numbers.  Enter any given comma separated values into the text box above to give it a try.  You can also 
							<a href="/register">create an account</a> for additional 
					    features such as graph plots and query history.</p></div>					
				  </div>
			  </div>
			  <div style="padding-bottom:40px" class='footer'>
			  	<p style="text-align:center; color:white">Copyright 2016 - CoolGuys340</p>
			  </div>
		</div>
	<script type="text/javascript">
    document.getElementById("form_sub").addEventListener("click", function () {
        console.log("Should be redirecting");
        window.location =  "http://localhost:5000/login";
    })
  </script>

	</body>
</html>
