<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/js/bootstrap.js">
  <link rel="stylesheet" media="screen" href="/static/css/home-style.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>
  <div class='container'>
    <div class='row'>
      <div class="form" style="margin-top: 50px;">
        <input type="text" placeholder="Enter your email" />
        <input type="text" placeholder="Password" />
	<input id="form_sub" type="submit" value="Login" />
	<a href="">Lost your password?</a>
      </div>
    </div>
  </div>
</body>
</html>
