<!doctype html>
<head>
  <title>Vizit</title>
  <script type="text/javascript" src="/static/js/api.js"></script>
  <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css"
    rel="stylesheet" type="text/css">
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
</head>

<body>

  <div id="data_form_cont">
    <form id="data_form">
      x values:
      <input id="data_x" type="text"><br>
      y values:
      <input id="data_y" type="text"><br>
      <!--<input id="data_form_sub" type="button" value="submit data">-->
      <select name="plotselect">
        <option value="scatter">scatter</option>
        <option value="line">line</option>
        <option value="annulus">annulus</option>
        <option value="multi_line">multi line</option>
        <option value="patch">patch</option>
      </select>
      <button type="submit">Submit Data</button>
    </form>
  </div>
  <div id="plot-container"></div>

  <script type="text/javascript">
    document.getElementById("data_form").addEventListener("submit", function (e) {
        e.preventDefault();
        sub_data();
    });
  </script>

</body>
