<!DOCTYPE html>
<html lang="en">

	<head>
	  <link rel="stylesheet" media="screen" href="/static/css/home-style.css">
	  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class='jumbotron'>
			    <h2>Vizit - Kinda arbitrary data visualizations!</h2>
			    <a id="viz_button" href="plot_data" class="button" >Get Started Vizualizing!</a>
			  	</div>
			  	<div class="menubar">
					{{ menubar }}
				</div>
				
			  </div>
			<div class="content">
			<div class='container' style="margin:auto">
				<h1 style="text-align:center">Upload CSV File</h1>
				<div class="infobox" style="margin-top:30px; margin-bottom:30px">{{ tag }}</div>
  				<form id="upload-form" action="{{ url_for('uploaded') }}" method="post" enctype="multipart/form-data">
  					
					<table class="SubmitFile">
						<tr>
							<td><input type="file" name="file" accept=".csv" id="allignRight"></td>
						</tr>
						<tr>
							<td><button style="margin-left:58%; margin-top:30px" class="submitButton" type="submit" value="send">Send</button></td>
						</tr>					
					</table>
  				</form>
  			</div>
			</div>
			  <div style="padding-bottom:40px" class='footer'>
			  	<p style="text-align:center; color:white">Copyright 2016 - CoolGuys340</p>
			  </div>
		</div>
	<script type="text/javascript">
    document.getElementById("form_sub").addEventListener("click", function () {
        console.log("Should be redirecting");
        window.location =  "http://localhost:5000/login";
	    })
	</script>
	<script type="text/javascript">
		function check(){
			if (document.getElementById('email').value=="" || document.getElementById('pass').value==""){
			return false;
			}
			return true;
		}
	</script>

	</body>
</html>
